# Data Exploration Notebook!

This document contains our data preprocessing and some basic data exploration and summary statistics

In [1]:
#Imports
import pandas as pd

In [2]:
# Extracting the names of each table to identify where to look for 
# data which could provide insight into Taiwan-China relationships
for i in range(1, 95):
    df = pd.read_csv(f"taiwandata/y{i:03}.csv")
    print(df.iloc[3][0])

Table 1. Land, agricultural land and forest land areas
Table 2. The mean temperature
Table 3. General situation of population
Table 4. Number and rates of births, deaths, immigrants and emigrants, marriages and divorces
Table 5. Fertility rates of childbearing age women
Table 6. Life expectancy and death rates by 5-year age group
Table 7. Indicators of labor force status
Table 8. Employed persons by industry
Table 9. Unemployment rates by educational attainment and age
Table 10. Average monthly total earnings per employee on payrolls of establishments by industry
Table 11. Educational situation
Table 12. Expenditure situation on education
Table 13. Primary and junior high school
Table 14. Senior secondary schools
Table 15. Higher Education
Table 16. Number of overseas compatriot Chinese students in all levels of schools
Table 17. Summary of R&D personnel
Table 18. Summary of R&D expenditure
Table 19. Number of patent applications and grant
Table 20. General conditions of culture and mass communication
Table 21. General situation of medical institutions and registered medical personnel
Table 22. Number of registered medical personnel in hospitals, clinics and other medical care institutions
Table 23. Number of deaths and crude death rates by leading causes
Table 24. Number of confirmed cases of notifiable diseases
Table 25. Daily nutrient consumption per capita
Table 26. Emissions of greenhouse gases
Table 27. Carbon dioxide emissions
Table 28. Air quality index
Table 29. Summary of filings and dispositions of cases in the Judicial Yuan & its subordinate organs
Table 30. Fire fighting
Table 31. All kinds of illegal cases and the number of offenders
Table 32. Net expenditure for social welfare
Table 33. Low-income families and living assistance
Table 34. General situation of national health insurance
Table 35. General situation of labor insurance
Table 36. General situation of farmer's health insurance
Table 37. General situation of government employee and school staff insurance
Table 38. General situation of national pension
Table 39. General situation of national income
Table 40. Per capita income and consumption
Table 41. Gross national income
Table 42. Expenditure on gross domestic product
Table 43. Composition of gross fixed capital formation
Table 44. Gross domestic product and expenditure
Table 45. National disposable income and its appropriation
Table 46. Average disposable income per household by disposable income quintile
Table 47. Family income and expenditure
Table 48. Approved Mainland China investment
Table 49. Approved inward and outward investment
Table 50. Indices of consumer price
Table 51. Indices of wholesale price
Table 52. Export orders by products
Table 53. Value of external trade
Table 54. Trade index
Table 55. Composition of exports and imports
Table 56. External trade by regions and principal countries
Table 57. Indices of agricultural, forestry and fishery production
Table 58. Farm households and population
Table 59. Quantity and value of major farm products
Table 60. Consumption and production of chemical fertilizers, and agricultural chemicals
Table 61. Quantity and value of forestry production
Table 62. Quantity and value of fishery production
Table 63. Quantity and value of major livestock production
Table 64. Indices of industrial production
Table 65. Industrial production value
Table 66. Saturation of water supply
Table 67. Composition of energy supply
Table 68. Composition of energy consumption
Table 69. Water resources demand and supply
Table 70. Transport on railway and mass rapid transit
Table 71. Transport on roads
Table 72. Number of registered vehicles
Table 73. Number of national vessels registration and freight traffic volume
Table 74. Waterborne imports and exports, and the percentage carried by national vessels
Table 75. Traffic of civil aviation by airports
Table 76. Cross-strait postal delivery and number of telephone incoming and outgoing volume
Table 77. Telephone business
Table 78. Data communication business
Table 79. Outbound visitors
Table 80. Visitor arrivals and visitor expenditures
Table 81. Number of foreign visitor arrivals by residence
Table 82. Key financial indicators
Table 83. Consolidated assets and liabilities of monetary financial institutions
Table 84. Consolidated assets and liabilities of financial institutions
Table 85. Interest rates and monetary market
Table 86. Securities trading on TWSE market
Table 87. Foreign exchange rates
Table 88. Balance of payments
Table 89. Number of financial institutions
Table 90. Net government revenues of all levels
Table 91. Net government expenditures of all levels
Table 92. Total net tax revenues
Table 93. Legislator election summary
Table 94. Number of all civil servants

> From here we identified which ones we wanted to use: (list)

# Test 1: Does Mainland China Investment = Better Taiwanese GDP
Small test of hypothesis testing; will be looking for the influence of Mainland China investment on Taiwanese GDP using tables 48 (Approved Mainland China investment) and 44 (Gross domestic product and expenditure)

In [6]:
df48 = pd.read_csv("taiwandata/y048.csv")
df48 = df48.drop(df.index[:7])
df48.head(10)
# definitely work to do here to clean it up, i think we probably just work with the Total investment? 
# unless any questions with specific industries

,88,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,STATISTICAL YEARBOOK OF
7,NaN,NaN,NaN,"Agricul-\nture, forestry, fishing & animal hus...",Mining & quarry-ing,Manufac-turing,Electri-city & gas supply,Water supply & \nremedi-ation services,Con-struction,Whole-sale & retail trade,Transpor-tation & storage,Accommo-dation \n& food services,Informa-tion & \ncommuni-cation,Financial & insu-rance,Real estate
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1991,NaN,17415.8,0,90,17305.8,0,0,0,20,0,0,0,0,0
11,1996,NaN,122924.1,710,735.5,111590.5,600,0,63.4,3028.5,1644,667.8,1120,1179.9,487.6
12,2001,NaN,278414.7,1038.9,110,251395.9,741.8,0,2259.1,11721.1,1651.2,149.5,5507.7,316.2,35
13,2006,NaN,764233.5414,896,115,664929.10445,4625.56287,420,1473.05,31277.758049999997,10478.141740000001,1641.0394000000001,8116.620269999999,8443.4,1780.266
14,2011,NaN,1437662.4483999999,447.75200000000007,1362.393,1037539.1136800001,150,4700.50605,6147.32518,123272.04082,9426.53441,6017.2996,28253.16929,125582.7977,41359.82634
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2012,NaN,1279207.71156,923.4444,810,751880.26674,0,1150.6404200000002,5340.15868,127178.81247,6331.043299999999,17179.88254,11863.61413,172572.0999,133799.56326

In [12]:
df44 = pd.read_csv("taiwandata/y044.csv")
df44.head(30) #this one only has 2014-2021 :( probably have to get more data to supplement for hypothesis test?

,NATIONAL ECONOMICS AND BUSINESS ACTIVITIES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,83
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Table 44. Gross domestic product and expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,At current prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Million NT $
6,Item,NaN,2014,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Compensation of employees,NaN,7198293,7516962.0,7740858.0,8024870.0,8416746.0,8693294.0,8867534.0,17254661
11,Operating surplus,NaN,5697300,6001355.0,6154164.0,6281062.0,6094520.0,6097178.0,6799435.0,NaN
12,Consumption of fixed capital,NaN,2570369,2601636.0,2700956.0,2768310.0,2898233.0,3046253.0,3155489.0,3387928
13,Taxes on production and imports,NaN,951098,975582.0,1035207.0,1053682.0,1118892.0,1132269.0,1159177.0,1009254
14,Less: subsidies,NaN,73603,72915.0,75917.0,73175.0,76517.0,86350.0,267992.0,NaN
15,Plus: statistical discrepancy,NaN,-85410,32460.0,0.0,-71402.0,-76852.0,25988.0,84954.0,58755
16,Gross domestic product,NaN,16258047,17055080.0,17555268.0,17983347.0,18375022.0,18908632.0,19798597.0,21710598
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Government final consumption \n expenditure,NaN,2360910,2363711.0,2482242.0,2486552.0,2623385.0,2652859.0,2771196.0,2936519
19,Private final consumption\n expenditure,NaN,8602842,8787564.0,9082075.0,9325676.0,9610482.0,9883066.0,9600375.0,9704331
20,Changes in inventories,NaN,37881,42438.0,-10001.0,-24580.0,84773.0,-26325.0,5777.0,163742
21,Gross fixed capital formation,NaN,3630558,3663758.0,3807567.0,3795869.0,4001128.0,4526606.0,4784112.0,5682859
22,Exports of goods and services,NaN,12559478,12157096.0,11808128.0,12095508.0,12191349.0,11922648.0,11491022.0,14403657
23,Less: imports of goods and\n services,NaN,10933622,9959487.0,9614743.0,9695678.0,10136095.0,10050222.0,8853885.0,11180510
24,Gross domestic product,NaN,16258047,17055080.0,17555268.0,17983347.0,18375022.0,18908632.0,19798597.0,21710598
25,NaN,NaN,//-->\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Source: Directorate-General of Budget, Account...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN